.favoritesComponent{
    margin: 2%;
    min-width: initial;
    padding-bottom: 3%;
}

.favoritesComponent .header {
    align-items: center;
    background: #f6f6fa;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;
    /* color:#bb5a00; */
}

.favoritesContainer{
    margin: 4%;
}

img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
}


.favoriteItem{
    padding-bottom: 5%;
    
}

.favoriteItemContainer{
    padding-right: 5%;
    background-color:#fdfaf2;
}