.favoritesComponent{
    margin: 2%;
    min-width: initial;
    padding-bottom: 3%;
}

.favoritesComponent .header {
    align-items: center;
    background: #f6f6fa;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;
    /* color:#bb5a00; */
}

.favoritesContainer{
    margin-top: 4%;
    margin-left: 7%;
    margin-right: 7%;
    width:85%;
}

.favoriteItem img {
    
    display: block;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}


.favoriteItem{
    padding-bottom: 5%;
}

.favoriteItemContainer{
    padding-right: 5%;
    background-color:#fdfaf2;
}

.favoriteItem .button{
    margin-top: 20%;
}