
.form {
    border: 1px solid lightsteelblue;
    margin-left: 25%;
    margin-top: 10%;
    width: 50%;
    padding: 20px;
    text-align: center;
}

.fila{
    display : flex;
    margin-top: 10%;
}

