  .carta {
    border-width: 3; 
    border-color: black;
  }
  .details {
    display: flex;
  }
  .content {
    flex: 1 0 auto;
  }
  .cover {
    width: 100px;
    height: 100px;
  }
  .expandOpen {
    transform: rotate(180deg);
  }