.mainContainer{
    display: grid;
    grid-template-rows: auto;
    row-gap: 1em;
    background-color:  rgba(160, 160, 160, 0.178);
}

.slider{
    background-color: aqua;
    height: 20em;
    width: 45em;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    height: 100%;
    animation: change 20s infinite;
    animation-direction: alternate;
}

.slider li{
    list-style: none;
    width: 100%;
}

.slider img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

@keyframes change {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.ContainerExplore{
    background-color: white;
    display: grid;
    grid-template-rows: 10% 90%;
}

.subContainerExplore {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    gap: 7em;
}