.containerMiniProduct{
    display: grid;
    grid-template-rows: 15% 72% 10%;
    border: 1px solid rgba(146, 146, 146, 0.781);
    border-right: 3px solid black;
    width: 250px;
    height: 300px;
   
}

.miniTittle{
    margin: 0% 2% 0% 2%;
    overflow: hidden;
    overflow-wrap: break-word;
}

.miniproduct-containerimage{
    margin: 0% 2% 0% 2%;
    overflow: hidden;
    /* background-color: aqua; */
}

.miniproduct-containerimage img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.miniProduct-subContainer{
    display: grid;
    grid-template-columns: 60% 40%;
    /* padding-top: 2%; */
    /* background-color: aqua; */
}

.miniProduct-subContainer button{
    width: 95%;
    background-color: orange;
    border: none;
}

.miniProduct-subContainer button:hover{
    cursor: pointer;
}