
.card {
    margin-top: 20px;
    border: none;
    border-radius: 8px;
}
.Fitness-Card {
    max-height: 240px;
    max-width: 620px;
}
.Fitness-Card-Info {
    padding-left: 0;
    padding-right: 75px;
}
.Fitness-Card-Info h1{
    font-size: 23px;
    color: white;
}
.Fitness-Card-Info p{
    font-size: 16px;
    color: white;
}
.Fitness-Add {
    display: block;
    margin-left: auto;
    margin-right: auto;
}