.contenedor_usuario{
    display: grid;
    grid-template-rows: 40px 300px;
    justify-content: center;
}
.contenedor_usuario-sub1{
    display: grid;
    grid-template-rows: 80% 20%;                
}
.grid-item-header{
    
}
.grid-item-sub2{
    background-color: #EFEFEF;
}
.grid-item-sub3{
}
.photo-profile{
    background-color: #808080;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 90%;
    height: 150px;
    width: 150px;
    margin-left: 43%;
    margin-right: 50%;
    z-index: 10px;
    /* me ayuda a darle propiedades para que el objeto se mueva libre de su contenedor */
    position: relative;
    overflow: hidden;
}
.photo-profile img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.information-user{
    display: inline-block;
    padding: 20px;
    margin-top: 12%;
    height: 150px;
    width: 750px;
    font-size: 20px;
    /* Hacer que el texto se esconda y baje el texto debajo*/
    overflow: hidden;
    overflow-wrap: break-word;
}
.buttons-user{
    display: inline-bock;
    margin-left: auto;
    height: 56px;
    width: 500px;
    text-align: center;
}
.button{
    margin-left: 20px;
}
