.containerSearch{
    background-color: whitesmoke;
}

.ContainerResult{
    display: grid;
    grid-template-columns: 20% 80%;
}
.ContainerFilter{
    background-color:lightgray;
    height: 100px;
    margin: 0% 10% 0% 40%;
}

.ContainerFilter nav{
    display: flex;
    flex-direction: column;
}
.ContainerFilter li{
    display: inline-block;
}
.subContainerResult{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 5em;
}
