.contenedor_usuario{
    display: block;
    object-fit: contain; /* kepp size with zoom and zoom out */
    width: 95%;
    display: grid;
    grid-template-columns: 45% 75%;
}

.grid-item-sub1{
    height: 59%;  
    width: 40%;  
}
.grid-item-sub2{
    background-color: #EFEFEF;
    height: 105%;
    width: 75%;
    overflow:hidden;
    margin: 1%;
}
.photo{
    background-color: #808080;
    display: block;
    box-sizing: border-box;
    text-align: center;
    border-radius: 90%;
    height: 420px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10px;
    margin-top: 10%;
    /* me ayuda a darle propiedades para que el objeto se mueva libre de su contenedor */
    position: relative;
    overflow: hidden;
}
.information-user{
    display: block;
    padding: 20px;
    margin: 20px;
    height: 420px;
    width: 755px;
    font-size: 50px;
    /* Hacer que el texto se esconda y baje el texto debajo*/
    overflow-wrap: break-word;
}

.personal__information {
    margin: 17px;
}

.critical__information {
    margin-right: 45%;
}

.information-user input{
    font-size: 25px;
}

.buttons__personal__information{
    display : flex; /* column to row*/ 
    object-fit: contain;
    margin-top: 2%;
    margin-right: 13%;
}

.button__personal__information{
    object-fit: contain;
    padding: 20px;
}

.button-back{
    margin-top: 12%;
}



.semester{
    margin-right: 44%;
    width: 290px;
}

.register {
    margin-left: 10%;
    margin-top: 6%;
  }

.underheader{
    width: 15%;
    height: 150px;
  }