.loginPaper {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.loginForm{
    width: 100%;
    margin-top: 10%;
    padding: 20px;
    text-align: center;
    border: 1px solid #d4ac0d ;
}

.loginForm .submit{
    margin-top: 7%;
}

.linksGrid{
    padding: 6%;
}

.loginContainer{
    margin-right: 200%;
}

.loginMessage{
    font-family: 'Courier New', Courier, monospace;
}

.loginImage{
    width: 35%;
    margin-top: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}