.containerImages{
    display: grid;
    grid-template-columns: 15% 85%;
    width: 600px;
    height: 450px;
    
}

.subContainer_SelecImages{
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
}

.subContainer_SelecImages div{ 
    /* background-color: aqua; */
    width: 80px;
    height: 80px;
    margin: 10% 1% 0% 2% ;
    overflow: hidden;
}

.subContainer_SelecImages img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.subContainer_main{
    /* background-color: blueviolet; */
    margin: 3%;
    overflow: hidden;
}

.subContainer_main img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}