.containerInfo{
    display: grid;
    grid-template-rows: 20% auto 20%;
    width: 280px;
    height: 350px;
}

.containerInfo button{
    border: none;
}

.containerInfo div{
    overflow: hidden;
    overflow-wrap: break-word;
}

.subContainerInfo{
    border: 1px solid rgb(163, 163, 163);
    display: grid;
    grid-template-rows: 60% 20% 20%;
    margin: 5%;
    background-color: white;
    overflow: hidden;
}

.subContainerInfo nav{
    display: flex;
    flex-direction: column;
}
.subContainerInfo li{
    margin-top: 3%;
    display: inline-block;
    font-size: large;
    overflow: hidden;
    overflow-wrap: break-word;
}

.buttonAddCar{
    font-size: 18px;
    padding: 1% 3% 1% 3%;
    background-color: orange;
    margin-left: 40%;
}

.buttonAddList{
    font-size: 20px;
    color: white;
    padding: 1% 3% 1% 3%;
    margin: 5% 0% 0% 40%;
    background-color: rgb(7, 92, 250);
}

.producStars{
    font-size: x-large;
}

